*{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.cf::before .cf::after{
    clear: both;
    content: '';
    display: block;
}
.wrap{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}
.header .hlogo{
    float: left;
    width: 200px;
    height: 100px;
    background: #111;
}
.header .hlist{
    float: left;
    width: 1000px;
    height: 100px;
    background: #222;
}
.slide{
    float: left;
    width: 1200px;
    height: 300px;
    background: #333;
}
.slideList{
    width: 1200px;
    height: 300px;
    overflow: hidden;
}
.slideImg img{
    width: 1200px;
    height: 300px;
    display: block;
}
.section .notice{
    position: relative;
    float: left;
    width: 400px;
    height: 200px;
}
.n_title{
    position: absolute;
    width: 80px;
    padding: 3px;
    margin-top: 15px;
    margin-left: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    border-bottom: none;
    text-align: center;
}
.n_title a{
    color: salmon;
    font-weight: bold;
}
.n_content{
    width: 95%;
    margin-top: 42px;
    border-top: 1px solid black;
    box-sizing: border-box;
}
.n_content li{
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid gray;
}
.n_content li:first-child{
    margin-top: 10px;
}
.n_content li:hover{
    text-decoration: underline;
}
.n_content span{
    float: right;
}
.section .gallery{
    float: left;
    width: 500px;
    height: 200px;
}
.gallery .g_img{
    position: relative;
    display: flex;
    float: left;
}
.g_img p{
    position: absolute;
    width: 100%;
    margin-top: 135px;
    margin-left: 10px;
    text-align: center;
    font-size: 13px;
}
.g_img img{
    float: left;
    width: 135px;
    height: 110px;
    margin-top: 20px;
    margin-left: 20px;
}
.section .shortcut{
    float: left;
    width: 300px;
    height: 200px;
}
.s_img p{
    position: absolute;
    width: 14%;
    margin-left: 10px;
    text-align: center;
    font-size: 13px;
}
.s_img img{
    width: 85%;
    height: 120px;
    margin-top: 10px;
    margin-left: 15px;
    border: 2px solid blue;
}
.s_content{
    width: 100%;
    margin-top: 42px;
    border-top: 1px solid black;
    box-sizing: border-box;
}
.footer{
    float: left;
}
.footer .fmenu{
    float: left;
    width: 1000px;
    height: 50px;
}
.fmenu p{
    margin-top: 25px;
    font-size: 14px;
}
.footer .copy{
    float: left;
    width: 1000px;
    height: 50px;
}
.copy p{
    font-size: 14px;
}
.footer .fa{
    width: 200px;
    height: 100px;
    margin-left: 1000px;
}
.fasite{
    margin-top: 40px;
    margin-left: 50px;
    padding: 5px;
    background-color: #fff;
}